/* Add application styles & imports to this file! */
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: 'Lato';
}

::selection {
  background: #b7ffc1; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #b7ffc1; /* Gecko Browsers */
}
